Welcome to ShireList

<h1>What would you like to post?</h1>
<%= form_for @item, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :title, placeholder: 'title' %><br />
  <%= f.text_area :description, size: "60x12", placeholder: 'description' %><br />
  <%= f.text_field :price, placeholder: 'price' %><br />
  <%= f.submit "add item" %>
<% end %>
<br />
<ul>
	<% @items.each do |item| %>
		<li><%= item.title %>: <%= item.description %> (<%= item.price %>)</li>
	<% end %>
</ul>	