<h1>You have posted the following to ShireList</h1>

Title: <%= @item.title %><br />
Description: <%= @item.description %><br />
Price: <%= @item.price %><br />

<%= link_to "Edit this item", edit_item_path %>
<%= link_to "Delete this item", @item, :method => :delete %>
